
<h3>Numero a adivinar: {{ultimoN.numberR}}</h3>
{% if messages %}
    {% for msg in messages %}
    <p>{{msg}}</p>
    {% endfor %}
{% endif %}
<form action="" method="post">
    {% csrf_token %}    

    <th>Nuevo numero:</th>
    <input type="number" name="number">
    <button type="submit"> Probar </button>

</form>
<form action="generate" method="get">
    <button type="submit"> Generar otro </button>
    <h3>Empezar con: {{guess.intento}}</h3>
</form>

<form action="check" method="POST">
    {% csrf_token %}
    
    <button type="submit"> Comparar </button>
    <p>Numeros Generados:</p>
    {% for try in tryings %}
    <p>{{try.intento}}</p>
    {% endfor %}
    <p>Se adivino el numero: {{ultimoN.numberR }} {{number.numberR}} en {{intentos}} intentos</p> 
</form>