<div>
    <h1>Numeros ingresados:</h1>
</div>

{% for number in numbers %}
    <div>
        <h2>{{ number.number }}</h2>
    </div>
{% endfor %}

{% if messages %}
    {% for msg in messages %}
    <p>{{msg}}</p>
    {% endfor %}
{% endif %}
<form action="" method="post">
    {% csrf_token %}    

    <th>Nuevo numero:</th>
    <input type="number" name="number">
    <button type="submit"> Probar </button>

</form>
<form action="generate" method="get">
    <button type="submit"> Generar </button>
    <p>{{guess}}</p>
</form>
<form action="check" method="POST">
    {% csrf_token %}
    <input type="number" name="guess" value="">
    <input type="number" name="number" value="">
    <button type="submit"> Comparar </button>
    <p>{{guess.intento}} y {{number.number}} en {{intentos}}</p> 
</form>